- name: Installing cmatrix cowsay sl
  hosts: localhost
  connection: local
  become: yes

  vars:
    packages_list:
      - cmatrix
      - cowsay
      - sl

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install packages
      ansible.builtin.apt:
        name: "{{ packages_list }}"
        state: present
